# Copyright 2018 Oliver Szabo
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[security]
kerberosEnabled = false
kerberosKeytab = /tmp/solr.keytab
kerberosPrincipal = solr/myhostname
kerberosRealm = EXAMPLE.COM
kerberosKrb5Path = /tmp/krb5.conf

[solr]
url = http://localhost:8983
context = /solr
collection = hadoop_logs
ssl = false
connection_timeout = 60

[ssh]
enabled = false
username = root
hostname = myremotehost
private_key_path = /keys/private_key
download_location = /tmp
remote_krb5_conf = /etc/krb5.conf
remote_keytab = /etc/security/keytabs/solr.service.keytab

[generator]
num_writes = 10
num_docs_per_write = 1000
cluster_field = cluster
cluster_num = 10
filterable_field = host
filterable_field_num = 1000
level_field = level
level_values = INFO,DEBUG,FATAL,WARN,ERROR,UNKNOWN,TRACE
type_field = type
type_values = ambari_server,ambari_agent,ambari_config,ambari_eclipselink,hdfs_name_node,hdfs_secondary_name_node
date_field = logtime
message_fields = log_message
num_fields = seq_num
